{% extends 'base.html' %}
{% block header %}Collaborators{% endblock %}
{% block content %}
<div class="collaborators">
    <p class="ptext"><strong>If there is any interest in collaborating with the CiteSeer<sup>x</sup> project, please contact Professor Giles.</strong></p>

    <h2 class="section-header"><strong>Current and Past Collaborators:</strong></h2>
    <ul class="ptext">
        <li><a href="http://allenai.org/">Allen Institute for Artificial Intelligence</a></li>
        <li><a href="http://citeseer.uark.edu/pages/index.htm">University of Arkansas</a></li>

        <li><a href="http://www.cse.unt.edu/~ccaragea/keyphrases.html">University of North Texas</a></li>

        <li>Microsoft Research</li>

        <li>Lockheed Martin </li> 
    </ul>
</div>
{% endblock %}