{% extends 'base.html' %}
{% block header %}CiteSeerX Data{% endblock %}

{% block content %}
<div id="content-container" class="left-sidebar">                
    <div id="node-3" class="node clear-block">
    <div class="meta">
  
    </div>
        <div class="content">
        <div class="ptext">
            <p>CiteSeer<sup>x</sup> data and metadata are available for others to use. Data available includes CiteSeer<sup>x</sup> metadata, databases, data sets of pdf files and text of pdf files.</p>
            <p>For more information, please contact us directly. Currently, data is only available through sharing folders on Google Drive. Please contact us for more information.
            <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">Data</span> released by <a xmlns:cc="http://creativecommons.org/ns#" href="http://citeseerx.ist.psu.edu" property="cc:attributionName" rel="cc:attributionURL">CiteSeer<sup>x</sup></a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
            </p><p><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a></p>
            <p>CiteSeer<sup>x</sup> is compliant with the <a href="http://www.openarchives.org/OAI/2.0/openarchivesprotocol.htm" title="OAI-PMH">Open Archives Initiative Protocol for Metadata Harvesting</a>, which is a standard proposed by <a href="http://www.openarchives.org/" title="The Open Archive Initiative"> 
            The Open Archive Initiative</a> in order to facilitate content dissemination. For data not mentioned here, please contact us through feedback.</p>

            <p>To browse or download records programmatically from CiteSeer<sup>x</sup> OAI collection please use the harvest url:</p>
            <p><strong>http://citeseerx.ist.psu.edu/oai2</strong></p>

            <p>The archive may also be browsed from an interface via an <a href="http://re.cs.uct.ac.za/" title="OAI Repository Explorer">OAI Repository Explorer</a>, either by using the CiteSeer<sup>x</sup> archive identifier or by directly entering the harvest url.</p>
                <p>Here is a list of toolkits that can be used for OAI metadata harvesting.</p>
            <ul>
	            <li><a href="http://search.cpan.org/~thb/OAI-Harvester-1.13/" title="OAI Harvester">OAI-Harvester</a> - perl</li>
	            <li><a href="http://www.oclc.org/research/software/oai/harvester2.htm" title="OAI Harvester2">OAIHarvester2</a> - Java</li>
	            <li><a href="http://sourceforge.net/projects/netoaihvster" title=".NET OAI Harvester">.NET OAI Harvester</a> - .NET (dll)</li>
	            <li><a href="http://sourceforge.net/projects/uilib-oai/" title="UIUC OAI">UIUC OAI</a> - UIUC OAI Metadata Harvesting Project.</li>
            </ul>  
        </div>
        </div>                               
    </div>
</div>
{% endblock %}