{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The PSU Natural Language Processing Group</title>

    <!-- Bootstrap -->

    <!--<link rel="stylesheet" href = "{% static 'psuwebsite/css/bootstrap.min.css' %}"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="{% static 'psuwebsite/css/navigation.css' %}" rel = "stylesheet">
    <link href="{% static 'psuwebsite/css/textstyles.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="{% static 'psuwebsite/css/footer-distributed-with-address-and-phones.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'psuwebsite/js/jquery-3.2.1.min.js' %}" type = "text/javascript"></script>
    <!-- <script src="{% static 'psuwebsite/js/bootstrap.min.js' %}" type = "text/javascript"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- The navigation tabs -->
	<nav class="navbar navbar-custom">
		<div class="container">
			<div class="navbar-header">
                <a class = "navbar-brand" href = "/">
                    <img src = "{% static 'psuwebsite/img/psu-logo1.png' %}" alt = "PSU logo" width = "60" height = "60" class="navbar-left navbar-left-img">
                    <a class = "navbar-left" href = "/home"><h3 class="hidden-xs"> The Penn State Natural Language Processing Group</h3>
                    <h3 class = "hidden-sm hidden-md hidden-lg hidden-xl">The PSU NLP Group</h3></a>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right navbar-right-custom">
                    <li role="presentation"><a href="/home">Home</a></li>
                    <li role="presentation"><a href="services.html">Projects</a></li>
                    <li role="presentation"><a href="/people">People</a></li>
                    <li role="presentation"><a href="/publications">Publications</a></li>
                    <li role="presentation"><a href="contact.html">Blog</a></li>
                    <li role="presentation"><a href="/admin">Admin Login</a></li>
                </ul>
            </div>
        </div>
	</nav>
    <!-- animated banner -->
    <header>
        <div class = "pagetitle" >
            <div class = "container">
                <h1 class = "peopletitletext">People</h1>
            </div>
        </div>
    </header>

    <div class = "pagebody">
        <div class = "container bodytext">
            <div id="content-container" class = "row">
                <div class = "teamtext">The Team</div>
                <h2 class = "level">Professors</h2>
                {%  for professor in professors %}

                    <div class = "professor-row" id = "professor-row-{{ forloop.counter }}">
                        <div class = "picture">
                            <img src="{{ professor.image.url }}" width = "100" height = "137" class = "img-responsive img-rounded">
                        </div>
                        <div class = "professor-name">
                            <a href = "{{ professor.webpageurl }}">{{ professor.name}}</a>
                        </div>
                        <div class = "professor-shortdescription">
                            {{ professor.shortdescription }}
                        </div>
                        <div class = "professor-description">
                            {{ professor.description }}
                        </div>

                    </div>

                {% endfor %}

                <h2 class = "level-0">Postdocs</h2>
                {% for postdoc in postdocs %}

                    <div class = "team-row" id = "postdoc-row-{{ forloop.counter }}">
                        <div class = "picture">
                            <img src="{{ postdoc.image.url }}" width = "100" height = "137" class = "img-responsive img-rounded">
                        </div>
                        <div class = "professor-name">
                            <a href = "{{ postdoc.webpageurl }}">{{ postdoc.name}}</a>
                        </div>
                        <div class = "professor-shortdescription">
                            {{ postdoc.occupation }}
                        </div>
                        <div class = "professor-description">
                            {{ postdoc.description }}
                        </div>

                    </div>

                {% endfor %}

                <h2 class = "level-1">PhD Students</h2>
                {% for phdstudent in phdstudents%}

                    <div class = "team-row" id = "phdstudent-row-{{ forloop.counter }}">
                        <div class = "picture">
                            <img src="{{ phdstudent.image.url }}" width = "100" height = "137" class = "img-responsive img-rounded">
                        </div>
                        <div class = "professor-name">
                            <a href = "{{ phdstudent.webpageurl }}">{{ phdstudent.name}}</a>
                        </div>
                        <div class = "professor-shortdescription">
                            {{ phdstudent.occupation }}
                        </div>
                        <div class = "professor-description">
                            {{ phdstudent.description }}
                        </div>

                    </div>

                {% endfor %}

                <h2 class = "level-1">Masters Students</h2>
                {% for master in masters%}

                    <div class = "team-row" id = "master-row-{{ forloop.counter }}">
                        <div class = "picture">
                            <img src="{{ master.image.url }}" width = "100" height = "137" class = "img-responsive img-rounded">
                        </div>
                        <div class = "professor-name">
                            <a href = "{{ master.webpageurl }}">{{ master.name}}</a>
                        </div>
                        <div class = "professor-shortdescription">
                            {{ master.occupation }}
                        </div>
                        <div class = "professor-description">
                            {{ master.description }}
                        </div>

                    </div>

                {% endfor %}

                <h2 class = "level-1">Undergraduates</h2>
                {% for undergraduate in undergraduates %}

                    <div class = "team-row" id = "undergraduate-row-{{ forloop.counter }}">
                        <div class = "picture">
                            <img src="{{ undergraduate.image.url }}" width = "100" height = "137" class = "img-responsive img-rounded">
                        </div>
                        <div class = "professor-name">
                            <a href = "{{ undergraduate.webpageurl }}">{{ undergraduate.name}}</a>
                        </div>
                        <div class = "professor-shortdescription">
                            {{ undergraduate.occupation }}
                        </div>
                        <div class = "professor-description">
                            {{ undergraduate.description }}
                        </div>

                    </div>

                {% endfor %}

                <h2 class = "level-2">Staff</h2>
                {% for staff in staffs%}

                    <div class = "team-row" id = "staff-row-{{ forloop.counter }}">
                        <div class = "picture">
                            <img src="{{ staff.image.url }}" width = "100" height = "137" class = "img-responsive img-rounded">
                        </div>
                        <div class = "professor-name">
                            <a href = "{{ staff.webpageurl }}">{{ staff.name}}</a>
                        </div>
                        <div class = "professor-shortdescription">
                            {{ staff.occupation }}
                        </div>
                        <div class = "professor-description">
                            {{ staff.description }}
                        </div>

                    </div>

                {% endfor %}

                <div class = "alumnitext">Alumni</div>

                {% if postdocsalumni %}
                <div>
                    <h2 class = "alumnilevel col-sm-6">Postdocs</h2>
                    <h2 class = "Currentposition col-sm-5">Current Work</h2>
                    {%  for postdocalumni in postdocsalumni %}

                        <div class = "alumni-row" id = "postdocalumni-row-{{ forloop.counter }}">
                           <div class = "alumni-name col-sm-6">
                             <a href = "{{ postdocalumni.webpageurl }}">{{ postdocalumni.name}}</a>
                               <br><i class = "alumni-major">{{ postdocalumni.major }}</i><br/>
                           </div>
                           <div class = "alumni-description col-sm-5">
                               {{ postdocalumni.currentposition }}
                           </div>


                        </div>

                    {% endfor %}

                </div>
                {% endif %}


                {% if phdstudentsalumni %}
                <div>
                    <h2 class = "alumnilevel-1 col-sm-11">PhD Students</h2>
                    {%  for phdstudentalumni in phdstudentsalumni %}

                        <div class = "alumni-row" id = "phdstudentalumni-row-{{ forloop.counter }}">
                           <div class = "alumni-name col-sm-6">
                             <a href = "{{ phdstudentalumni.webpageurl }}">{{ phdstudentalumni.name}}</a>
                               <br><i class = "alumni-major">{{ phdstudentalumni.major }}</i><br/>
                           </div>
                           <div class = "alumni-description col-sm-5">
                               {{ phdstudentalumni.currentposition }}
                           </div>

                        </div>

                    {% endfor %}

                </div>
                {% endif %}

                {% if mastersalumni %}
                <div>
                    <h2 class = "alumnilevel-1 col-sm-11">Masters Students</h2>
                    {%  for masteralumni in mastersalumni %}

                        <div class = "alumni-row" id = "masteralumni-row-{{ forloop.counter }}">
                           <div class = "alumni-name col-sm-6">
                             <a href = "{{ masteralumni.webpageurl }}">{{ masteralumni.name}}</a>
                               <br><i class = "alumni-major">{{ masteralumni.major }}</i><br/>
                           </div>
                           <div class = "alumni-description col-sm-5">
                               {{ masteralumni.currentposition }}
                           </div>

                        </div>

                    {% endfor %}

                </div>
                {% endif %}

                {% if undergraduatesalumni %}
                <div>
                    <h2 class = "alumnilevel-1 col-sm-11">Undergraduate Students</h2>
                    {%  for undergraduatealumni in undergraduatesalumni %}

                        <div class = "alumni-row" id = "undergraduatealumni-row-{{ forloop.counter }}">
                           <div class = "alumni-name col-sm-6">
                             <a href = "{{ undergraduatealumni.webpageurl }}">{{ undergraduatealumni.name}}</a>
                               <br><i class = "alumni-major">{{ undergraduatealumni.major }}</i><br/>
                           </div>
                           <div class = "alumni-description col-sm-5">
                               {{ undergraduatealumni.currentposition }}
                           </div>

                        </div>

                    {% endfor %}

                </div>
                {% endif %}

                {% if staffsalumni  %}
                <div>
                    <h2 class = "alumnilevel-1 col-sm-11">Staff</h2>
                    {%  for staffalumni in staffsalumni %}

                        <div class = "alumni-row" id = "staffalumni-row-{{ forloop.counter }}">
                           <div class = "alumni-name col-sm-6">
                             <a href = "{{ staffalumni.webpageurl }}">{{ staffalumni.name}}</a>
                               <br><i class = "alumni-major">{{ staffalumni.major }}</i><br/>
                           </div>
                           <div class = "alumni-description col-sm-5">
                               {{ staffalumni.currentposition }}
                           </div>

                        </div>

                    {% endfor %}

                </div>

                {% endif %}



            </div>
        </div>
    </div>





    <footer class="footer-distributed">
        <div class="footer-left">
            <img src = "{% static "psuwebsite/img/footer_logo.png" %}" width = "510" height = "150" >
				<p class="footer-links">
					<a href="/home">Home</a>
					·
					<a href="#">Projects</a>
					·
					<a href="/people">People</a>
					·
					<a href="/publications">Publications</a>
					·
					<a href="#">Blog</a>
				</p>

				<p class="footer-company-name">Pennsylvania State University &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>332 Info Science and Tech</span> University Park, PA 16802</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+(814)865-3528</p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Links</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

    </footer>
  </body>
</html>