{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The PSU Natural Language Processing Group</title>

    <!--<link rel="stylesheet" href = "{% static 'psuwebsite/css/bootstrap.min.css' %}"/> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="{% static 'psuwebsite/css/navigation.css' %}" rel = "stylesheet">
    <link href="{% static 'psuwebsite/css/textstyles.css' %}" rel = "stylesheet">
    <link rel="stylesheet" href="{% static 'psuwebsite/css/footer-distributed-with-address-and-phones.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">



    <script src="{% static 'psuwebsite/js/jquery-3.2.1.js' %}"></script>
    <script src="{% static 'psuwebsite/js/bootstrap.js' %}" type = "text/javascript"></script>


    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>--

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

<div class = "backgroundimage">
        <h3>Penn State Natural Language Processing Group</h3>
        <div class="psunav">
            <ul>
                <li class = "li-1"><a href="/home"><div class = "colorchange">Home</div></a></li>
                <li class = "li-2"><a href="/projects"><div class = "colorchange">Projects</div></a></li>
                <li class = "li-2"><a href="/people"><div class = "colorchange">People</div></a></li>
                <li class = "li-2"><a href="/publications"><div class = "colorchange active-choice">Publications</div></a></li>
                <li class = "li-2"><a href="/blog"><div class = "colorchange">Blog</div></a></li>
                <li class = "li-2"><a href="/admin"><div class = "colorchange">Admin Login</div></a></li>
            </ul>
        </div>
    </div>

    <div>
        <header>
            <div class = "pagetitle" >
                <div class = "container">
                    <h1 class = "titletext">Publications</h1>
                </div>
            </div>
        </header>
    </div>

    <div class = "pagebody">
        <div class = "container bodytext">
            <div class = "row">
                <div class = "col-md-3">
                    <div class = "col-sm-12 col-md-12 centerinputfix">
                        <input type = "text" placeholder = "Author" id = "authorinput" class = "form-control titleform">
                    </div>
                    <div class = "col-sm-12 col-md-12 venuelabel">
                        Venue
                    </div>
                    <br>
                    <br>
                    <div class = "col-sm-12 col-md-12">
                        <div class="form-group">
                    {% for distinctvenue in distinctvenues %}
                            <input type="checkbox" id="venuecheckbox{{ forloop.counter }}" class = "onecheck">
                            <label for="venuecheckbox{{ forloop.counter }}" class = "labelword">{{ distinctvenue }}</label>
                        <br>
                    {% endfor %}
                        </div>
                    </div>
                </div>
                <div class = "col-md-9">
                    <div class = "col-sm-12 col-md-12 centerinputfix">
                        <input type = "text" placeholder = "Title" id = "titleinput" class = "form-control titleform">
                    </div>
                    <table class = "table" id = "publications">
                        <thead class = "border-bottom-black">
                            <tr>
                                <th rowspan="2" colspan="1" class = "border-bottom-black">
                                </th>
                            </tr>
                        </thead>
                        <tbody class = 'fontchange'>
                            {% for publication in publications %}
                                {% if forloop.counter|divisibleby:2 %}
                                    <tr class = "highlight" id = tr{{ forloop.counter }}>
                                {% else %}
                                    <tr class = "highlight2" id = tr{{ forloop.counter }}>
                                {% endif %}
                                        <td>
                                            <div id = 'author{{ forloop.counter }}'>{{ publication.author }}, {{ publication.year }}</div>
                                            <div id = 'title{{ forloop.counter }}'>
                                                <b> {{ publication.title}}
                                                </b>
                                            </div>
                                            <div id = 'venue{{ forloop.counter }}'>
                                            {{ publication.venue }}
                                            </div>
                                            [
                                            <a href= "{{ publication.paperfile.url }}" download>paper</a>
                                            ,
                                            <a href=" {{ publication.bibfile.url }}" download>bib</a>
                                            ]
                                        </td>
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <footer class="footer-distributed">
        <div class="footer-left">
            <img src = "{% static "psuwebsite/img/footer_logo.png" %}" width = "510" height = "150" >
				<p class="footer-links">
					<a href="/home">Home</a>
					·
					<a href="/projects">Projects</a>
					·
					<a href="/people">People</a>
					·
					<a href="/publications">Publications</a>
					·
					<a href="/blog">Blog</a>
				</p>

				<p class="footer-company-name">Pennsylvania State University &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>332 Info Science and Tech</span> University Park, PA 16802</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+(814)865-3528</p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>Links</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>

  </body>

  <!--<script>

      var table = document.getElementById("publications");
      function titlequery() {

          var title = this.value;
          var input = document.getElementById("titleinput").value.toUpperCase();
          var tr = table.getElementsByTagName("tr");
          for (i = 1; i < tr.length; i++ ){
              td = tr[i].getElementsByTagName("div")[1];
              if(td) {
                  if(td.innerHTML.toUpperCase().indexOf(input)>-1) {
                      tr[i].style.dispaly = "";
                  } else {
                      tr[i].style.display = "none";
                  }
              }
          }

      }
  </script> -->

  <script>

        function changehighlight() {
          var counter = 0;
            $("tr:visible").each(function(){

                if(counter % 2 == 1){
                    var id = $(this).attr('id');
                    var classname = $(this).attr('class');
                    if(classname == "highlight"){
                        $("#" + id).toggleClass('highlight highlight2');
                    }
                    counter++;
                }
                else {
                    var id = $(this).attr('id');
                    var classname = $(this).attr('class');
                    if(classname == "highlight2"){
                        $("#" + id).toggleClass('highlight2 highlight');
                    }
                    counter++;
                }

            });
        };

        var alltr = [];
        for(var i = 1; i <= {{ publications|length }}; i++){
            alltr.push(i);
        }

        function checkcheckboxes() {
            for ( i = 1; i<={{ publications|length }}; i++ )
            {
                if($("#venuecheckbox" + i).prop('checked'))
                {
                    return i + "";
                }
            }
            return "NONE";
        }

        $("#titleinput").on("keyup", function() {


           var authortr = alltr;
           var venuetr = [];
           var titletr = [];
           var value = $("#authorinput").val().toUpperCase();
           for (var i = 0; i < authortr.length; i++) {
               var id = 'author' + authortr[i];
               console.log(id);
               var author = document.getElementById(id).textContent.toUpperCase();
               if(author.indexOf(value) != -1){
                   venuetr.push(authortr[i]);
               }
           }

           var id = checkcheckboxes();
           if (id == "NONE")
           {
               for (var i = 0; i < venuetr.length; i++) {
                   titletr.push(venuetr[i]);
                }
           } else {
               var value = $("#venuecheckbox" + id).next("label").text().toUpperCase();
               for (var i = 0; i < venuetr.length; i++) {
                   var id = 'venue' + venuetr[i];
                   console.log(id);
                   var venue = document.getElementById(id).textContent.toUpperCase();
                   if (venue.indexOf(value) != -1) {
                       titletr.push(venuetr[i]);
                   }
               }
           }

           var value = $(this).val().toUpperCase();
           for (var k = 0; k < titletr.length; k++) {
                   var id = 'title' + titletr[k];
                   console.log(id);
                   var title = document.getElementById(id).textContent.toUpperCase();
                   if(title.indexOf(value) == -1) {
                        var trnew = "tr" + titletr[k];
                        $("#" + trnew).hide();
                    }
                    else {
                        var trnew = "tr" + titletr[k];
                        $("#" + trnew).show();
                    }
               }
           changehighlight();
        });


        $("#authorinput").on("keyup", function() {
           var authortr = [];
           var venuetr = [];
           var titletr = alltr;
           var value = $("#titleinput").val().toUpperCase();
           for (var i = 0; i < titletr.length; i++) {
                   var id = 'title' + titletr[i];
                   console.log(id);
                   var title = document.getElementById(id).textContent.toUpperCase();
                   if(title.indexOf(value) != -1){
                    venuetr.push(titletr[i]);
                    }

               }

           var id = checkcheckboxes();
           if (id == "NONE")
           {
               for (var i = 0; i < venuetr.length; i++) {
                   authortr.push(venuetr[i]);
                }
           } else {
               var value = $("#venuecheckbox" + id).next("label").text().toUpperCase();
               for (var i = 0; i < venuetr.length; i++) {
                   var id = 'venue' + venuetr[i];
                   console.log(id);
                   var venue = document.getElementById(id).textContent.toUpperCase();
                   if (venue.indexOf(value) != -1) {
                       authortr.push(venuetr[i]);
                   }
               }
           }
           var value = $("#authorinput").val().toUpperCase();
           for (var i = 0; i < authortr.length; i++) {
               var id = 'author' + authortr[i];
               console.log(id);
               var author = document.getElementById(id).textContent.toUpperCase();
               if(author.indexOf(value) == -1) {
                        var trnew = "tr" + authortr[i];
                        $("#" + trnew).hide();
                    }
                    else {
                        var trnew = "tr" + authortr[i];
                        $("#" + trnew).show();
                    }
           }

           changehighlight();
        });

        $('input.onecheck').on('change', function() {
            $('input.onecheck').not(this).prop('checked', false);
        });

        $(":checkbox").change(function() {
           var authortr = [];
           var venuetr = [];
           var titletr = alltr;
           var value = $("#titleinput").val().toUpperCase();
           for (var i = 0; i < titletr.length; i++) {
                   var id = 'title' + titletr[i];
                   console.log(id);
                   var title = document.getElementById(id).textContent.toUpperCase();
                   if(title.indexOf(value) != -1){
                    authortr.push(titletr[i]);
                    }

               }

           var value = $("#authorinput").val().toUpperCase();
           for (var i = 0; i < authortr.length; i++) {
               var id = 'author' + authortr[i];
               console.log(id);
               var author = document.getElementById(id).textContent.toUpperCase();
               if(author.indexOf(value) != -1){
                   venuetr.push(authortr[i]);
               }
           }



           if(this.checked) {
               var value = $(this).next("label").text().toUpperCase();
                   for (i = 0; i <venuetr.length; i++) {
                       var id = 'venue' + venuetr[i];
                       var venue = document.getElementById(id).textContent.toUpperCase();
                       if (venue.indexOf(value) == -1) {
                           var trnew = "tr" + venuetr[i];
                           $("#" + trnew).hide();
                       }
                       else {
                           var trnew = "tr" + venuetr[i];
                           $("#" + trnew).show();
                       }
                   }
                   changehighlight();
               }

           else {
                    for ( i = 0; i<venuetr.length; i++ ){
                        var trnew = "tr" + venuetr[i];
                        $("#" + trnew).show();
                    }
                    changehighlight();
               }
        });


    </script>
</html>