{% extends 'base.html' %}
{% load staticfiles %}
{% block header %}The Team{% endblock %}

{% block content %}
<div class="teams" align="center">
    {% for group, people in team.items %}
        <div class="group">
            <h2 class="section-header"><strong>{{ group }}</strong></h2>
            {% for person in people %}
            <div class="dropdown profile-dropdown">
                <a href="{{person.webpageurl}}" class="profile-link" target="_blank">
                    <div class="profile">
                        <div class="profile-content">
                            <div class="image-cropper">
				<img src="{% static person.image.url %}" alt="img">
                            </div>
                            <h3><strong>{{ person.fullname }}</strong></h3>
                            <h4>{{ person.role }}</h4>
                        </div>
                    </div>
                    <div class="profile-text dropdown-content ptext">{{person.description|safe}}</div>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
