.sponsors {
    width: 125px;
    height: 125px;
}

/*collapsables*/
.collapsible {
    width: 100%;
    height: inherit;
    background-color: #9fb8c3;
    outline: none;
    margin-left: -10px;
    border: none;
    margin-bottom: 10px;
    padding: 0px 6px;
}

.collapsible:hover {
    background-color: #80949c;
}

.collapsible h2 {
    background-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    padding:0px;
    margin-left: 0px;
    text-align: left;
}

/*prevents 'snap' with collapsing item*/
.well {
    margin: 0
}
