h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #093162;
    margin-top: 26px;
}

.navbar-custom {
    background-color: White;
    color: #093162;
    margin-bottom: 7px;
}

.navbar-left-img {
    margin-top: -10px;
}

.navbar-right-custom {
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

header {
    animation-duration: 1s; /* the duration of the animation */
    animation-timing-function: ease-out; /* how the animation will behave */
    animation-delay: 0s; /* how long to delay the animation from starting */
    animation-iteration-count: 1; /* how many times the animation will play */
    animation-name: slideInFromLeft; /* the name of the animation we defined above */
}


