.citeseerx_logo {
    margin-left: 85px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.li-1 {
    display: inline-block;
    margin-top: 17px;
    margin-left: 50px;
    color: #fff;
}

.li-2 {
    display: inline-block;
    margin-top: 17px;
    margin-left: 50px;
}

.colorchange {
    color: #C0C0C0;
}

.colorchange:hover {
    color: #fff;
}

/*
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


a:hover {
    border-bottom: 0px;
}
*/

.active-choice {
    color: #fff;
    //border-bottom: 3px solid #fff;
}

.navbar-custom {
    background-color: White;
    color: #093162;
    margin-bottom: 7px;
}

.navbar-left-img {
    margin-top: -10px;
}

.navbar-right-custom {
    margin-top: 15px;
}

* {
    box-sizing: border-box;
}
/*
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

header {
    animation-duration: 1s; /* the duration of the animation 
    animation-timing-function: ease-out; /* how the animation will behave 
    animation-delay: 0s; /* how long to delay the animation from starting 
    animation-iteration-count: 1; /* how many times the animation will play 
    animation-name: slideInFromLeft; /* the name of the animation we defined above 
}
*/
.backgroundimage {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    display: table;
    background-position: 0 -310px;
    /*background-image: url('../img/IST1.jpg');*/
}

.psunav {
    width: 100%;
    height: inherit;
    display: inline-block;
    list-style: none;
    text-align: left;
    background-color: #0078A4;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 5px;
}

/* The dropdown container */
.dropmenu {
    float: left;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: inherit;
}
/* Dropdown content (hidden by default) */
.dropmenu-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Show the dropdown menu on hover */
#dropbtn-people:hover #dropmenu-content-people {
    display: block;
}

#dropbtn-downloads:hover #dropmenu-content-downloads {
    display: block;
}
/* Links inside the dropdown */
.dropmenu-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropmenu-content a:hover {
    background-color: #ddd;
}