.pagetitle {
    background-color: #093162;
    padding: 30px;
    box-shadow: #093147 0px 0px 4px 2px inset;
    height: 80px;
}

.titletext {
    margin-top: -13px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;

}

.pagebody {
    background-color: #f2f2f2;

}

.bodytext {
    padding-top: 15px;
    padding-bottom: 30px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.ptext {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.peopletitletext {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: -16px;
}

.teamtext {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.alumnitext {
    font-size: 35px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-top: 20px;
    margin-left: -102px;
}

.level {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: left;
}

.alumnilevel {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-top: 100px;
    margin-left: -124px;
}

.alumnilevel-1 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-top: 20px;
    margin-left: -13px;
}

.Currentposition {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-top: 100px;
}

.Currentposition-1 {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.level-0 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -102px;
    margin-top: 45px;
}

.level-1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: -102px;
}

.level-2 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    float: left;
    margin-left: 0px;
}

.professor-row {
    clear: both;
    min-height: 110px;
    margin-bottom: 20px;
}

.alumni-row {
    clear: both;
    min-height: 30px;
    margin-bottom: 10px;
}

.picture {
    float: left;
    margin-bottom: 20px;
}

.professor-name {
    margin-left: 130px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.alumni-name {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.professor-shortdescription {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-left: 130px;
}

.professor-description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-left: 130px;
}

.alumni-description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-left: -10px;
}

.team-row {
    clear: both;
    min-height: 110px;
    margin-bottom: 20px;
}

.alumni-major {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}