.pagetitle {
    background-color: #093162;
    padding: 30px;
    box-shadow: #093147 0px 0px 4px 2px inset;
}

.titletext {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.pagebody {
    background-color: #f2f2f2;

}

.bodytext {
    padding-top: 15px;
    padding-bottom: 30px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.ptext {
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.peopletitletext {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: -16px;
}

.teamtext {
    font-size: 40px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.level {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.professor-row {
    clear: both;
    min-height: 110px;
    margin-bottom: 20px;
}

.picture {
    float: left;
    margin-bottom: 20px;
}

.professor-name {
    margin-left: 130px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.professor-shortdescription {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-left: 130px;
}

.professor-description {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-left: 130px;
}
